//- .뒷 부분은 classname
footer.footer
    .footer__icon
        i.fab.fa-youtube
        //- youtube icon 태그
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;
    //- pug 파일에서 #{}이용하면 자바스크립트 함수 사용 가능하다!