// upload.pug의 video record 부분에 해당
.record-container {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    video {
        background-color: $black;
        width: 100%;
        margin-bottom: 20px;
    }
}