extends layouts/main
//- layouts 폴더의 main.pug를 복붙해 온다는 뜻이다. 해당 레이아웃을 사용할 수 있다.
//- block 태그 안에 내용 추가하기!
block content
    .form-container
        //- method가 get이면 url에 보이고, post면 url에 보이지 않음
        form(action=routes.login, method="post")
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type="submit", value="Log In")
        include partials/socialLogin